

/*
lila rgb(110,81,205)
brown rgb(208,182,145)
brown-grey rgb(142,137,144)
fast black rgb(52,50,61)
light grey rgb(232,231,237)


*/

#divFrm {
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
	padding-top: 5vh;
	border-style: solid;
	border-width: 1vw;
	border-color: rgb(142,137,144);
	text-align: left;
	background-color: rgb(232,231,237);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#1 {
	background-color: rgb(208,182,145);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#input {
	border-style: dashed;
	background-color: rgb(232,231,237);
	border-color: rgb(110,81,205);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#btnAdd {
	position: absolute;
	right: 5vw;
	background-color: rgb(232,231,237);
	border-color: rgb(142,137,144);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#divBack {
	text-align: center;
	height: 100vh;	
	background-color: rgb(232,231,237);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}	


#lblTeam {
	
}

#lblOutput{
	position: relative;
	top: 10vh;
	border-style: dashed;
	border-color: rgb(110,81,205);
	padding: 1vh;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#bNext {
	position: relative;
	width: 120px;
	top: 10vh;
	background-color: rgb(232,231,237);
	border-color: rgb(142,137,144);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}