

/*
lila rgb(110,81,205)
brown rgb(208,182,145)
brown-grey rgb(142,137,144)
fast black rgb(52,50,61)
light grey rgb(232,231,237)


*/

#divFrm {
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 5vh;
	padding-top: 5vh;
	border-style: solid;
	border-width: 1vw;
	border-color: rgb(142,137,144);
	background-color: rgb(232,231,237);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


#input {
	border-style: dashed;
	background-color: rgb(232,231,237);
	border-color: rgb(110,81,205);
	border-width: 3px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#divBack {
	text-align: center;
	height: 100vh;	
	background-color: rgb(232,231,237);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}	



#divOut {
	top: 20vh;
	height: 40vh;
	text-align: center;
}

#lblOutput{
	position: relative;
	top: 10vh;
	border-style: dashed;
	border-color: rgb(110,81,205);
	font-size: 50px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

#bNext {
	position: relative;
	top: 20vh;
	width: 100%;
	font-size: 50px;
	background-color: rgb(232,231,237);
	border-width: 5px;
	border-color: rgb(142,137,144);
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}